/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2022 STMicroelectronics
 */

/ {
    timer_pwms{
		compatible = "pwms-spec";
		pwm1_spec: pwms {
			pwms = <&pwm1 1 1000 PWM_POLARITY_NORMAL>,
				   <&pwm1 2 1000 PWM_POLARITY_NORMAL>,
                   <&pwm1 3 1000 PWM_POLARITY_NORMAL>,
                   <&pwm1 4 1000 PWM_POLARITY_NORMAL>;
			pwm-names = "channel_1", "channel_2", "channel_3", "channel_4";
		};
        pwm8_spec: pwms {
			pwms = <&pwm8 1 1000 PWM_POLARITY_NORMAL>,
				   <&pwm8 2 1000 PWM_POLARITY_NORMAL>,
                   <&pwm8 3 1000 PWM_POLARITY_NORMAL>,
                   <&pwm8 4 1000 PWM_POLARITY_NORMAL>;
			pwm-names = "channel_1", "channel_2", "channel_3", "channel_4";
		};
	};
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&tim1_ch1_pe9 &tim1_ch2_pe11 &tim1_ch3_pe13 &tim1_ch4_pe14>;
	pinctrl-names = "default";
};

&pwm8 {
	status = "okay";
	pinctrl-0 = <&tim8_ch1_pc6 &tim8_ch2_pc7 &tim8_ch3_pc8 &tim8_ch4_pc9>;
	pinctrl-names = "default";
};
