/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2022 STMicroelectronics
 */

/ {
    timer_pwms{
		compatible = "pwms-spec";
		pwm_spec: pwms {
			pwms = <&pwm1 1 50000 PWM_POLARITY_NORMAL>,
				   <&pwm1 2 50000 PWM_POLARITY_NORMAL>,
                   <&pwm1 3 50000 PWM_POLARITY_NORMAL>,
                   <&pwm1 4 50000 PWM_POLARITY_NORMAL>,
                   <&pwm8 1 50000 PWM_POLARITY_NORMAL>,
				   <&pwm8 2 50000 PWM_POLARITY_NORMAL>,
                   <&pwm8 3 50000 PWM_POLARITY_NORMAL>,
                   <&pwm8 4 50000 PWM_POLARITY_NORMAL>;
			pwm-names = "pwm1_ch1", "pwm1_ch2", "pwm1_ch3", "pwm1_ch4",
                        "pwm8_ch1", "pwm8_ch2", "pwm8_ch3", "pwm8_ch4";
		};
	};
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&tim1_ch1_pe9 &tim1_ch2_pe11 &tim1_ch3_pe13 &tim1_ch4_pe14>;
	pinctrl-names = "default";
};

&pwm8 {
	status = "okay";
	pinctrl-0 = <&tim8_ch1_pc6 &tim8_ch2_pc7 &tim8_ch3_pc8 &tim8_ch4_pc9>;
	pinctrl-names = "default";
};
